[submodule "themes/mini"]
	path = themes/mini
	url = https://github.com/nodejh/hugo-theme-mini.git
[submodule "themes/mini-custom"]
	path = themes/mini-custom
	url = https://github.com/chanux/hugo-theme-mini.git
